/* general reset */
body,
#container,
h1,
button,
blockquote {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: azure;
}

/* flexbox */
body,
#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  flex-direction: column;
}

/* typography */
.title,
#btn,
#quote {
  font-family: 'Nunito', sans-serif;
}

.title {
  text-align: center;
  font-size: 2em;
}

#btn {
  text-transform: uppercase;
  font-size: 1em;
}

#quote {
  font-family: 'Style Script', cursive;
  font-size: 2.3em;
}

/* general styles */
#container {
  width: 80vw;
  height: 80vh;
  border: 0.5em solid darkcyan;
  border-radius: 0.3em;
}

.title {
  margin-bottom: 1.3rem;
}

#btn {
  padding: 0.6em;
  color: white;
  background-color: darkcyan;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
  #btn:hover {
    color: black;
    background-color: azure;
  }

#quote {
  margin-top: 0.5em;
}